<div class="col-sm-6 col-xs-12">
    <div class="card">
        <ng-content select=".part2"></ng-content>

        <ng-content select=".part1"></ng-content>

        <div class="card-body pt0">
            <h4 class="m0">Sky red</h4>
            <p class="m0"><span class="mr-sm text-muted">by</span><a href="#">John</a></p>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xs-12">
    <div class="card">

        <div class="card-item"><img src="assets/img/pic4.jpg" alt="MaterialImg" class="fw img-responsive">
            <div class="card-item-text">Paracosm</div>
        </div>
        <div class="card-offset">
            <div class="card-offset-item text-center">
                <button type="button" class="btn-raised btn btn-success btn-circle btn-lg"><em class="ion-share"></em></button>
            </div>
        </div>
        <div class="card-body pt0">
            <h4 class="m0">Peaceful view</h4>
            <p class="m0"><span class="mr-sm text-muted">by</span><a href="#">Zachary</a></p>
        </div>
    </div>
</div>
